/* Navbar.css */
.navbar {
  background-color: #0078d4;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky; /* Делаем панель липкой */
  top: 0; /* Прикрепляем панель к верху */
  z-index: 1000; /* Устанавливаем z-index, чтобы панель была поверх других элементов */
  width: 100%; /* Устанавливаем ширину на 100% */
  box-sizing: border-box; /* Учитываем padding и border в общей ширине */
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px; /* Уменьшаем расстояние между кнопками */
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 17px; /* Уменьшаем размер иконок */
}

.navbar-links a:hover {
  color: #e1f5fe;
}